<div class="home">
    <div class="header">
        <h1 class="alpha">Demo App</h1>
    </div>
    <p>Stumble upon content from the Guardian Content API</p>
    <div class="control-group">
        <p>
            <input type="text" name="search" id="search" value="" placeholder="Search for something" />
            <a href="#" class="control-group__btn search js-search" data-bypass="true">Search</a>
        </p>
        <p><a href="/search/latest" class="control-group__btn js-latest">View the latest</a></p>
    </div>
</div>
